<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo S:128X128 L:-->
    <a href="#" class="brand-link">
        <img src="{{ url_for('static', filename = 'images/logo/main_logo.png') }}" alt="M.A.A.P.logo"
             class="brand-image img-circle elevation-3" style="opacity: .8;">
        <span class="brand-text font-weight-light"
              style="font-weight:bold!important;margin-left:22px;">Metaverse</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        {% include '/layout/main_sidebar/user_panel.html' %}
        {% include '/layout/main_sidebar/search_form.html' %}
        {% include '/layout/main_sidebar/left_menu_change.html' %}
    </div>
    <!-- /.sidebar -->
</aside>