{% extends 'layout.html' %}
{% block content %}
<style>
//////////////////////////////////////////
.land_info_detail {
    position:fixed;
    width:250px;
    height:86%;
    border-radius:5px;
    background:#14141499;
    font-size:14px;
    right:10px;
    top:67px;
}
.land_tooltip {
    display: none;
    top: 400px;
    left: 400px;
    position: absolute;
    z-index: 1;
    min-width: 180px;
    max-width: 350px;
    height: 70px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgb(0 0 0 / 20%);
}

.land_tooltip {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transform-origin: 0 100%;
	-webkit-animation-name: example;
	animation-name: example;
	-webkit-animation-name: openTooltip;
	animation-name: openTooltip;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.land_tooltip .image {
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-left: 10px;
}

.land_tooltip .info {
	height: auto;
	min-width: 90px;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 15px 0 10px;
	flex: 1;
}

.land_tooltip .info .name {
	font-size: 11px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.land_tooltip .info .coordinate {
	font-weight: 700;
	font-size: 11px;
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.land_tooltip .quad {
	width: 0px;
	height: 0px;
	position: absolute;
	border: 10px solid transparent;
	border-right-color: #fff;
	transform: translate(-10px, 28px) rotate(45deg) scale(1.2);
}


</style>
<script>
    var info_map = '{{ map }}';
    var info_tile = '{{ tileset | tojson }}';
    var info_layer = '{{ layer | tojson }}';
    var info_background = '{{background}}';
    var info_marker = '{{marker}}';
    var info_char = '';
    var info_room = '';
    var info_name = '';
</script>
<script src="{{ url_for('static', filename='metaverse/api/info/map_info.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='metaverse/config/map.js') }}"></script>
<div class="row" style="position:relative">
    <div class="col-md-12" id="phaser-container" style="overflow: hidden; width: 100%; height: 100%;">

    </div>
    <div id="map_point_ui" style="position:absolute; display:none;">
        <img style="filter: drop-shadow(0 5px 7px #000); margin-left: 5px; margin-top: -20px;"
             src="{{ url_for('static', filename='/images/map/map-pin.png') }}" alt="">
    </div>
    <div id="map_box_ui" style="width: 32px; height: 32px; border-color:#9ecaed; box-shadow:0 0 10px #9ecaed; display:none;">
    </div>
</div>
{% include '/contents/land_info/land_details.html' %}
{% endblock %}
